@using App.EndPoints.MVC.ToDo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/css/customCss.css" asp-append-version="true" />
    @RenderSection("styles", false)
</head>
<body>

    <header>
        <nav>
            <ul class="mainMenu">
                <li><a href="#">صفحه اصلی</a></li>
                <li><a asp-action="Create" asp-controller="Category"> ساخت دسته بندی </a></li>
                <li><a href="#">نوشتارها</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">تماس با ما</a></li>

            </ul>
        </nav>
        @if(User.Identity.IsAuthenticated)
        {
            <div class="inside">
                <p>@(User.Identity.Name) خوش آمدید!</p>|
                <a asp-controller="Account" asp-action="Logout">خروج</a>
            </div>
           
        }
        else
        {
            <a asp-controller="Account" asp-action="Login" id="login">ورود</a>        
        }
    </header>

    <main>
            @RenderBody()


    </main>
   

    <footer>
        <h3>
            To Do Application
        </h3>
        <p>طراحی شده برای تمرینات CSS و HTML تمامی حقوق محفوظ است </p>
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/moment@2.29.4/min/moment.min.js"></script>
    <script src="https://unpkg.com/moment-jalaali/build/moment-jalaali.js"></script>
    <script>
        moment.loadPersian({ usePersianDigits: false });
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
