@using App.EndPoints.MVC.ToDo.Models.ViewModels.User
@model UpdateUserViewModel
@{
    ViewData["Title"] = "ویرایش کاربر";
    Layout = "_CustomLayout";
}
@section styles {
    <link rel="Stylesheet" type="text/css" href="/css/customCss.css" asp-append-version="true" />
}

<div class="container">
    <form method="post" asp-action="edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="ImagePath" />
        <div class="form-group">
            <label>نام و نام خانوادگی</label>
            <input type="text" asp-for="FullName" />
        </div>
        <div class="form-group">
            <label>رمز عبور</label>
            <input type="password" asp-for="Password" />
        </div>

        <div class="form-group">
            <label>تصویر</label>
            <img src=@Model.ImagePath />
        </div>
        <div class="form-group">
            <label>تصویر</label>
            <input asp-for="ImageFile" type="file" />
        </div>
        <div class="form-buttons">
            <button type="submit">ویرایش</button>
            <button type="reset" class="reset-btn">پاک کردن</button>
        </div>
    </form>
</div>