@using App.Domain.Core.TaskAgg.DTOs
@model AddTaskDto
@{
    ViewData["Title"] = "ایجاد کار";
    Layout = "_CustomLayout";
}
@section styles {
    <link rel="Stylesheet" type="text/css" href="~/css/customCss.css" />
    <link rel="Stylesheet" type="text/css" href="~/datepicker/calendar.css" />

}

<div class="container">
    <form method="post" asp-action="create" enctype="multipart/form-data">
        <div class="form-group">
            <label>عنوان</label>
            <input type="text" asp-for="Title" />
        </div>
        <div class="form-group">
            <label>توضیحات</label>
            <input type="text" asp-for="Description" />
        </div>
        <div class="form-group">
            <label>وضعیت</label>
            <select asp-for="Status">
                <option selected>انتخاب کنید</option>
                <option value="0">انجام شده </option>
                <option value="1">در حال انجام</option>
                <option value="2"> تاخیر خورده</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DueDate">انجام تا تاریخ :</label>
            <input type="text" id="DueDate" name="DueDate" class="input-date" autocomplete="off">
        </div>

        <div id="calendar" class="jalali-calendar"></div>

        
        <div class="form-group">
            <label>دسته‌بندی</label>
            <select asp-for="CategoryId" asp-items="@(ViewBag.Cats)">
            </select>
        </div>
        
        <div class="form-buttons">
            <button type="submit" class="bg-1">ایجاد</button>
            <button type="reset" class="reset-btn">پاک کردن</button>
        </div>
    </form>
    <div class="error">
        @ViewBag.Message
    </div>
</div>
@section scripts{
    <script src="~/datepicker/calendar.js" ></script>
 @*    <script>
        $(document).ready(function () {
            $("#DueDate").kamaDatepicker({
                forceFarsiDigits: true,
                placeholder: "YYYY/MM/DD",
                markToday: true,
                highlightSelectedDay: true
            });
        });
    </script> *@
@*     <script>
        alert("scripts loaded!");

        console.log("jQuery: ", typeof $);
        console.log("kama: ", typeof kamaDatepicker);

        kamaDatepicker('DueDate');
    </script> *@
}

