@using App.Domain.Core.TaskAgg.DTOs
@model DeleteTaskDto
@{
    ViewData["Title"] = "حذف کار";
    Layout = "_CustomLayout";
}
@section styles {
    <link rel="Stylesheet" type="text/css" href="/css/customCss.css" />
    <link rel="Stylesheet" type="text/css" href="~/datepicker/calendar.css" />

}

<div class="container">
    <form method="post" asp-action="delete" enctype="multipart/form-data">
        <div class="form-group">
            <label>عنوان</label>
            <input type="text" asp-for="Title"  />
        </div>
        <div class="form-group">
            <label>توضیحات</label>
            <input type="text" asp-for="Description" />
        </div>
        <div class="form-group">
            <label>وضعیت</label>
            <select asp-for="Status">
                <option selected>انتخاب کنید</option>
                <option value="0">انجام شده </option>
                <option value="1">در حال انجام</option>
                <option value="2"> تاخیر خورده</option>
            </select>
        </div>
       @*  <div class="form-group">
            <label>انجام تا تاریخ :</label>
            <input type="text" asp-for="DueDate"  />
        </div>
 *@
        <div class="form-group">
            <label for="DueDate">انجام تا تاریخ :</label>
            <input type="text" asp-for="DueDate" value="@Model.DueDate" class="input-date" autocomplete="off">
        </div>

        <div id="calendar" class="jalali-calendar"></div>



        <div class="form-group">
            <label>دسته‌بندی</label>
            <select asp-for="CategoryId" asp-items="@(ViewBag.Cats)" >
            </select>
        </div>
@*         <div class="form-group">
            <label>حذف شود ؟</label>
            <input type="checkbox" asp-for="IsDelete" value="@Model.IsDeleted" />
        </div> *@
        <div class="form-buttons">
            <button type="submit" class="bg-3">حذف</button>
            <button type="reset" class="reset-btn">پاک کردن</button>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/datepicker/calendar.js"></script>
}