@using App.EndPoints.MVC.ToDo.User.ViewModels
@model RegisterUserViewModel
@{
    ViewData["Title"] = "ثبت نام کاربر";
    Layout = "_CustomLayout";
}

@section styles {
    <link rel="Stylesheet" type="text/css" href="/css/customCss.css" asp-append-version="true" />
}

<div class="container">
    <form method="post" asp-action="Register" enctype="multipart/form-data">
        <div class="form-group">
            <label>نام و نام خانوادگی</label>
            <input type="text" asp-for="FullName" />
        </div>
        <div class="form-group">
            <label>نام کاربری</label>
            <input type="text" asp-for="UserName" />
        </div>
        <div class="form-group">
            <label>رمز عبور</label>
            <input type="password" asp-for="Password" />
        </div>

        <div class="form-group">
            <label>تصویر</label>
            @* <input type="file" asp-for="ImageFile" /> *@
@*             <div class="img-layer">
            <input type="file" name="UserAvatar" id="UserAvatar" accept=".png,.jpg,.jpeg"
            onchange="UploadUserAvatar('@Url.Action("Register","Account")')"
            class="display-none"/>
            <a onclick="OpenAvatarInput()" class="changeImage"><i class="icon-pencil-edit"></i></a>
            <img src="@Model.ImagePath" />
            </div> *@
            <input type="file" asp-for="ImageFile" accept="image/*" onchange="loadFile(event)">
        </div>
        <div class="form-group">
            <img id="output" />
        </div>
        <div class="form-buttons">
            <button type="submit">ایجاد</button>
            <button type="reset" class="reset-btn">پاک کردن</button>
        </div>
    </form>
    <div class="error"><p>@ViewBag.Error</p></div>
</div>

@section scripts{
    <script src="~/js/customJs.js"></script>
}
<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>